
*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  background: #dfe9f5;
}
.container{
  display: flex;
  
} 

/* logo  */

.logo{
  background:#eee;
  text-align: center;
  display: flex;
  margin: 10px 10px 0 10px;
  
}
.logo img{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin: 15px;
}
.logo span{
  font-weight: bold;
  /* padding-left: 15px; */
  font-size: 18px;
  text-transform: uppercase;
margin: 30px 0px 0px 10px;
}

/* =============side-bar===============  */

.side-bar{
  height: 100vh;
  background: #fff;
  width: 280px;
  /* overflow: hidden; */
  overflow-y: auto;
  scroll-behavior: smooth;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

/*============= test=========== */
.side-bar::-webkit-scrollbar {
  width: 8px;
}

/* Add transition for smooth hiding/showing of scrollbar */
.side-bar {
  transition: overflow 0.5s;
}

/* Show scrollbar when hovering */
.side-bar:hover {
  overflow-y: auto; /* Show the scrollbar on hover */
}
/* ======================================== */
.icon{
  font-size: 27px;
 padding-top: 1px;
}
.side-bar .menu{
  width: 100%;
  margin-top: 30px;
 }
 
 .side-bar .menu .item{
  position: relative;
  /* cursor: pointer; */
 }
 
 .side-bar .menu .item a{
 
  font-size: 16px;
  text-decoration: none;
  display: block;
  padding: 5px 30px;
  line-height: 60px;
 }
 
 .side-bar .menu .item a:hover{
  
  background: #34AF6D;
  transition: 0.3s ease;
 }
 
 .side-bar .menu .item i{
  margin-right: 20px;
 }
 
 .side-bar .menu .item a .dropdown{
  cursor: pointer;
  position: absolute;
  right: 0;
  margin: 20px;
  transition: 0.3s ease;
 }
 
 .side-bar .menu .item .sub-menu{
 
  display: none;
 }
 
 .side-bar .menu .item .sub-menu a{
  padding-left: 80px;
 }
 
 .rotate{
  transform: rotate(90deg);
 }
 /* logout  */
 .side-bar .logout {
  margin: 100px 10px 10px 10px;
}

.side-bar .logout a {
  color: #333; /* Màu chữ cho phần đăng xuất */
  display: block;
  padding: 5px 30px;
  line-height: 60px;
  text-decoration: none;
}
.side-bar .logout a span{
  margin-left: 10px;
}
.side-bar .logout a:hover {
  background: #ddd; /* Màu nền khi hover */
  transition: 0.3s ease;
}


/* Main Section */
.main{
  position: relative;
  padding: 20px;
  width: 100%;
}
 .attendance{
  margin-top: 20px;
  text-transform: capitalize;
}
.attendance-list{
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.table{
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 15px;
  min-width: 100%;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
}
table thead tr{
  color: #fff;
  background: #34AF6D;
  text-align: left;
  font-weight: bold;
}
.table th,
.table td{
  padding: 12px 15px;
  width: 27%;
}
.table tbody tr{
  border-bottom: 1px solid #ddd;
}
.table tbody tr:nth-of-type(odd){
  background: #f3f3f3;
}
.table tbody tr.active{
  font-weight: bold;
  color: #4AD489;
}
.table tbody tr:last-of-type{
  border-bottom: 2px solid #4AD489;
}
.table button{
  padding: 6px 20px;
  border-radius: 10px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #4AD489;
}
.table button:hover{
  background: #4AD489;
  color: #fff;
  transition: 0.5rem;
}