<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/login.css">
    <title>Document</title>
</head>
<body>
    <section class="container-login forms"> 
        <div class="form login">      
            <div class="form-content">
                <h2>Welcom to</h2>
                <h1>Run ELite</h1>
                <form action="" method="POST">
                    <div class="field input-field">
                        <label for="">Username</label><br>
                        <input type="text" placeholder="Username" class="input" >
                    </div>

                    <div class="field input-field">
                        <label for="password">Password</label> <br>
                        <input type="password" id="password" name="password" placeholder="Password">
                    </div>

                    <div class="form-link">
                        <input type="checkbox" onclick="showPassword()">ShowPassword
                        <a href="#" class="forgot-pass">Forgot password?</a>
                    </div>
                    
                    <div class="button-login">
                        <button>Login</button>
                    </div>
                </form>
                <div class="or">Or Continue</div>
                <div class="mxh">
                    <button><i class="fa-brands fa-facebook"></i>Facebook</button>
                    <button><i class="fa-brands fa-google"></i>Google</button>
                </div>
                <div class="form-register">
                    <span>Don't have an account? <a href="./register.html" class="link signup-link">Signup</a></span>
                </div>
            </div>
            
        </div>
        <div class="login-image">
            <img src="../image/l.jpg" alt="">
        </div>        
</section>
<script src="script.js"></script>
</body>
</html>